<ifModule mod_rewrite.c>

#activar rewrite
RewriteEngine on
#ErrorDocument 404 http://localhost:3333/error/

#comprobar las url que no sea un directorio o un fichero
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

#regla de escritura
RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</ifModule>

